/* BASIC SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif;
}

html {
  color: #555555;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 0;
  text-rendering: optimizeLegibility;
}
p,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
}

/* REUSABLE COMPONENTS */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* HEADER */

body {
  background-color: #616161;
  padding-bottom: 5px;
}

.details-pic {
  height: 200px;
  border: 5px solid white;
}

li {
  list-style-type: none;
}

.list-details {
  padding: 10px;
}

.searchBox {
  height: 20px;
  width: 300px;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
  border: none;
}

/*.big-box {
  height: 120px;
  width: 300px;
  font-size: 20px;
  padding: 20px;
  margin: 5px;
} */

.flex {
  display: flex;
}

.nav {
  background-color: rgb(212, 211, 211);
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  padding: 4px;
}

.stayright {
  justify-content: flex-end;
  position: absolute;
  right: 5px;
}

.catpic {
  width: 100%;
  position: relative;
}

.button {
  background-color: rgb(71, 71, 71);
  border: none;
  color: peachpuff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: peachpuff;
  color: rgb(71, 71, 71);
}

.see-more-button {
  background-color: peachpuff;
  border: none;
  color: rgb(71, 71, 71);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: rgb(71, 71, 71);
  color: peachpuff;
}

.logo {
  position: absolute;
  height: 100px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.welcome {
  font-size: 30px;
  padding: 12px 24px;
}

.searchbar {
  background-image: url("/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 40px;
  border-radius: 25px;
}

.padded {
  padding: 5px;
}

.item-box {
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 280px;
  padding: 10px;
  margin: 5px;
}

.items-displayed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  width: 100%;
  max-height: 250px;
  overflow: hidden;
  border: 5px solid white;
}

.image {
  width: 100%;
}

.item-link {
  margin-top: auto;
  text-decoration: none;
  text-align: center;
  color: rgb(71, 71, 71);
  font-size: 25px;
}

.item-link:hover {
  color: grey;
  letter-spacing: 0.1px;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.item-details {
  height: fit-content;
  width: 75%;
  background-color: peachpuff;
  padding: 10px;
  display: flex;
  margin: 5px;
  margin-bottom: 20px;
}

.item-name {
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 10px;
}

.StripeCheckout {
  margin-top: 20px;
  align-content: center;
}
